[fitting_params]
lmfit_method = "default"
fit_type = "lte"
fit_method = "mcmc"
consolidate_fit_dict = true
keep_sampler = true
keep_covariance = true

line = "n2hp10"
rest_freq = ""

[generate_radex_grid]

output_file = "radex_output.nc"
t_kin = ""
t_kin_step = 5
n_mol = ""
n_mol_step=0.2
n_h2= ""
n_h2_step=0.2
dv= ""
dv_step=1
geom = "uni"
progress = true

[multicomponent_fitter]

mcfine_output_filename = "mcfine"
fit_dict_filename = "fit_dict"
chunksize = 1
save = true
progress = true

[initial_guess]

lte = [15, 0, 0, 0.5]
pure_gauss = [10, 0, 0.5]
radex = [20, 14, 6, 0, 0.5]

[lmfit]

method = "basinhopping"
minimizer_kwargs.method = "Powell"

[mcmc]

delta_bic_cutoff = 10
delta_aic_cutoff = 10
emcee_run_method = "fixed"
n_walkers = 100
n_initialisation = 2
n_initialisation_steps = 200
n_steps = 1000
thin = 0.5
burn_in = 2

# Specifically for the adaptive fitting
convergence_factor = 10
tau_change = 0.01
max_steps = 100000

[create_fit_cube]

cube_filename = "fit_cube"
chunksize = 1

[make_parameter_maps]

maps_filename = "maps"

[overwrites]

generate_radex_grid = false
multicomponent_fitter = false
encourage_spatial_coherence = false
create_fit_cube = false
make_parameter_maps = false

[plotting]

file_exts = [
    "png",
    "pdf",
]
chunksize = 1

[plot_step]

plot_name = "step"

[plot_corner]

plot_name = "corner"

[plot_fit]

plot_name = "fit"
show_individual_components = true
show_hyperfine_components = false
n_points = 1000
n_draws = 100
figsize = [10, 4]
x_label = "Velocity (km s$^{-1}$)"
y_label = "Intensity (K)"
